@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


:root {
    --primary-color: #7C3AED;
}

body {
    font-family: 'Lato', sans-serif;
}
hr {
    margin: 2rem 0rem;
}
/* container */
.container {
    padding-left: 0rem 1rem;
}
.container-center {
    max-width: 600px;
    margin: auto;
}
/* Links */
.link {
    text-decoration: none;
    padding:0.5 rem 1 rem;
}
.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5 rem;
    color: white;
}
.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
/* look into BEM naming convention */
